* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log_in__section {
    display: flex;
    gap: 10rem;
}
.log_in__image {
}
.log_in__form {
    display: flex;
    align-items: center;
    
}
.log_in__form form{
    display: flex;
    flex-direction: column;
    
}
#user_name{
    display: flex;
    width: 20.9375rem;
    padding: 0.625rem 0rem;
    align-items: center;
    gap: 0.625rem;
    border: none;
    outline: none;
    border-bottom: 0.5px solid var(--grey, #C0C0C0);
}
#user_password{
    display: flex;
    width: 20.9375rem;
    height: 2.25rem;
    margin: 3.19rem 0;
    padding: 0.25rem 0rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: none;
    outline: none;
    border-bottom: 0.5px solid var(--grey, #C0C0C0);
}

.log_in__btn {
    display: flex;
    width: 335px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 80px;
    background: var(--grey, #C0C0C0);
    flex-shrink: 0;
    
}